<div class=" container">
  <h1>Survey Reports</h1>
  <div>
    <h3> Vertical Bar Chart</h3>
    <ngx-charts-bar-vertical
      [gradient]="true"
      [legendTitle]="'Vehical Survey'"
      [legend]="true"
      [results]="surveyData"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [view]="[1000,400]"
      [xAxisLabel]="'Count'"
      [xAxis]="true"
      [yAxisLabel]="'Type of Vehicle'"
      [yAxis]="true">
    </ngx-charts-bar-vertical>
  </div>

  <div>
    <h3>Pie Chart</h3>
    <ngx-charts-pie-chart
      [labels]="true"
      [legendTitle]="'Vehicle Survey'"
      [legend]="true"
      [results]="surveyData"
      [view]="[1000,300]">
    </ngx-charts-pie-chart>
  </div>

  <div>
    <h3>Advance Pie Chart</h3>
    <ngx-charts-advanced-pie-chart
      [gradient]="true"
      [results]="surveyData">
    </ngx-charts-advanced-pie-chart>
  </div>
</div>
